@charset "UTF-8";
/* CSS Document */


html {
    overflow: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 0;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}

body {
	margin: 0;
	padding: 0;
	background-color: rgb(54,49,30);
    color: #fff;
	width: 100%;

	-webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
}

canvas {
    height: 100%;
    width: 100%;
    display: block;
    cursor: default;
    overflow: auto;
}

#noiseLayer {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

#overlay {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 50px;
    left: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    opacity: 0;
    -webkit-transition: opacity 1s, top 1s;
    transition: opacity 1s, top 1s;
    pointer-events:none;

    font-size: 90px;
    letter-spacing: 0.3em;
}

#tt {
    font-family: 'Lora', serif;
    text-transform: uppercase;
    text-indent: 0.3em;
}

#line {
    margin-top: 10px;
    width: 2.7em;
    height: 0.088em;
    background-color: #ffffff;
}

#creator {
    position: absolute;
    bottom: 20px;
    right: 26px;


    font-family: 'PT Sans', sans-serif;
    font-style: italic;
    font-size: 12px;
    line-height: 1.6em;
    letter-spacing: 0.1em;
}

.divide {
    display: inline-block;
    height: 1.6em;
    width: 1px;
    background-color: #ffffff;
    margin: 0 3px;
    position: relative;
    top: 0.4em;
}

#creator a {
    display: inline-block;
    padding: 0 3px;
    color: inherit;
    text-decoration: none;
    -webkit-transition: color 0.3s, background-color 0.3s;
    transition: color 0.3s, background-color 0.3s;
}

#creator a:hover {
    color: #111111;
    background-color: #ffffff;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media (max-width:700px){
    #overlay {
        font-size: 70px;
    }
}
@media (max-width:500px){
    #overlay {
        font-size: 50px;
    }
}
